<!DOCTYPE html>
<html ng-app="demo" ng-controller="DemoController">
<head>
    <title>Floating Label Demo</title>
    <link rel="stylesheet" type="text/css" href="../dist/floating-label.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    </style>
    <link rel="stylesheet" type="text/css" href="./examples.css"/>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../dist/floating-label.js"></script>
</head>
<body ng-cloak>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <a class="navbar-brand" href="#">ag-floating-label</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="https://github.com/stephengardner/ag-floating-label" target="_blank">
                    View on GitHub
                        <span class="sr-only">
                            (view on github)
                        </span>
                </a>
            </li>
        </ul>

    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1>Floating Label Inputs for AngularJS</h1>
        <h2>Brought to you by ag-floating-label</h2>
    </div>
</div>
<div class="container forms-container">
    <div class="title">
        <h1>Demos, please!</h1>
    </div>
    <div class="row row-grid">
        <div class="col-xs-12 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Standard Inputs
                    </div>
                </div>
                <div class="panel-body">
                    <ag-floating-label>
                        <label>
                            Name
                        </label>
                        <input type="text" ng-model="name" name="name"/>
                    </ag-floating-label>
                    <ag-floating-label>
                        <label>
                            City
                        </label>
                        <input type="text" ng-model="name" name="name"/>
                    </ag-floating-label>
                    <ag-floating-label>
                        <label>
                            State
                        </label>
                        <select ng-model="selected" name="select">
                            <option value="DC">DC</option>
                            <option value="DC">MD</option>
                            <option value="DC">VA</option>
                            <option value="DC">None of the above</option>
                        </select>
                    </ag-floating-label>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Inputs with Hints
                    </div>
                </div>
                <div class="panel-body">
                    <ag-floating-label>
                        <label>
                            Name
                        </label>
                        <input type="text" ng-model="name" name="name"/>
                        <ag-hints>
                            <ag-hint>Enter your name</ag-hint>
                        </ag-hints>
                    </ag-floating-label>
                    <ag-floating-label>
                        <label>
                            City
                        </label>
                        <input type="text" ng-model="name" name="name"/>
                        <ag-hints>
                            <ag-hint>Enter your city, any city at all!</ag-hint>
                        </ag-hints>
                    </ag-floating-label>
                    <ag-floating-label>
                        <label>
                            State
                        </label>
                        <select ng-model="selected" name="select">
                            <option value="DC">DC</option>
                            <option value="DC">MD</option>
                            <option value="DC">VA</option>
                            <option value="DC">None of the above</option>
                        </select>
                    </ag-floating-label>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="panel-title">
                        Inputs with Hints, and Errors
                    </div>
                </div>
                <div class="panel-body">
                    <form name="errorsForm">
                        <ag-floating-label>
                            <label>
                                Name (With hint and error-checking)
                            </label>
                            <input type="text" ng-model="errorsFormName" name="name" minlength="5"/>
                            <ag-hints>
                                <ag-hint>
                                    To show the error, enter a name less than 5 characters, then click outside of the input
                                </ag-hint>
                            </ag-hints>
                            <div ng-messages="errorsForm.name.$error">
                                <div ng-message="minlength">Please enter at least 5 characters</div>
                            </div>
                        </ag-floating-label>
                        <ag-floating-label>
                            <label>
                                City *
                            </label>
                            <input type="text" ng-model="errorsFormCity" name="city" required/>
                            <div ng-messages="errorsForm.city.$error">
                                <div ng-message="required">This field is required</div>
                            </div>
                        </ag-floating-label>
                        <ag-floating-label>
                            <label>
                                State *
                            </label>
                            <select ng-model="errorsFormState" name="state" required>
                                <option value="DC">DC</option>
                                <option value="DC">MD</option>
                                <option value="DC">VA</option>
                                <option value="DC">None of the above</option>
                            </select>
                            <div ng-messages="errorsForm.state.$error">
                                <div ng-message="required">This field is required</div>
                            </div>
                        </ag-floating-label>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        A multi-column form using Bootstrap <code>row</code> and <code>col</code> classes
                    </div>
                </div>
                <div class="panel-body">
                    <form name="bootstrapForm">
                        <div class="row">
                            <div class="col-xs-6 col-md-7">
                                <ag-floating-label>
                                    <label>Nametest</label>
                                    <input type="text" ng-model="bootstrapFormName" name="name"/>
                                </ag-floating-label>
                            </div>
                            <div class="col-xs-2 col-md-1">
                                <ag-floating-label>
                                    <label>Age</label>
                                    <input type="number" ng-model="bootstrapFormAge" name="age" min="1"/>
                                </ag-floating-label>
                            </div>
                            <div class="col-xs-4">
                                <ag-floating-label>
                                    <label>Gender</label>
                                    <select ng-model="bootstrapFormGender" name="gender" required>
                                        <option value="DC">Male</option>
                                        <option value="DC">Female</option>
                                        <option value="DC">Neither</option>
                                        <option value="DC">Both</option>
                                    </select>
                                    <div ng-messages="bootstrapForm.gender.$error">
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                </ag-floating-label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <ag-floating-label>
                                    <label>Comments</label>
                                    <textarea rows="4" ag-no-autogrow></textarea>
                                    <ag-hints>
                                        <ag-hint>
                                            A great big textarea, which will maintain it's current size when multiple lines are added.
                                        </ag-hint>
                                    </ag-hints>
                                </ag-floating-label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="demos-footer">
        <h1 class="h3">
            See the <a href="https://github.com/stephengardner/ag-floating-label/tree/master/examples">
            examples folder</a> for the raw code.
        </h1>
        <a href="https://github.com/stephengardner/ag-floating-label"
           class="btn btn-primary btn-lg"
           target="_blank">
            Go to GitHub
        </a>
        <h1 class="h4">
            Created with &hearts; by
            <a href="https://www.linkedin.com/in/stephen-gardner-a8812748" target="_blank">
                Stephen Gardner
            </a>
        </h1>
    </div>
</div>

<script>
    angular.module('demo', ['agFloatingLabel']);
    angular.module('demo').controller('DemoController', function ($timeout, $scope) {
        $scope.errorsForm = {
            city : '',
            state : '',
            name : ''
        };
    });
</script>

</body>
</html>